<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Shop</title>
    <link rel="stylesheet" type="text/css" href="/static/inicio.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#">Início</a></li>
                <li><a href="#">Serviços</a></li>
                <li><a href="#">Produtos</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
        </nav>
    </header>

    <section class="banner">
        

        <h1>Bem-vindo ao Pet Shop</h1>
        <p>Seu melhor amigo merece o melhor cuidado.</p>
        <a href="http://127.0.0.1:8000/reserva/" class="btn-primary">AGENDE O BANHO PARA SEU PET</a>
    </section>

    <section class="servicos">
        <h2>Nossos Serviços</h2>
        <div class="servico">
            <img src="servico1.jpg" alt="Serviço 1">
            <h3>Serviço 1</h3>
            <p>Descrição do serviço 1.</p>
        </div>
        <div class="servico">
            <img src="servico2.jpg" alt="Serviço 2">
            <h3>Serviço 2</h3>
            <p>Descrição do serviço 2.</p>
        </div>
        <div class="servico">
            <img src="servico3.jpg" alt="Serviço 3">
            <h3>Serviço 3</h3>
            <p>Descrição do serviço 3.</p>
        </div>
    </section>

    <section class="produtos">
        <h2>Nossos Produtos</h2>
        <div class="produto">
            <img src="produto1.jpg" alt="Produto 1">
            <h3>Produto 1</h3>
            <p>Descrição do produto 1.</p>
        </div>
        <div class="produto">
            <img src="produto2.jpg" alt="Produto 2">
            <h3>Produto 2</h3>
            <p>Descrição do produto 2.</p>
        </div>
        <div class="produto">
            <img src="produto3.jpg" alt="Produto 3">
            <h3>Produto 3</h3>
            <p>Descrição do produto 3.</p>
        </div>
    </section>

    <section class="contato">
        <h2>Entre em Contato</h2>
        <p>Estamos aqui para responder a todas as suas perguntas.</p>
        <a href="http://127.0.0.1:8000/contato/" class="btn-primary">Fale Conosco</a>
    </section>

    <footer>
        <p>&copy; 2023 Pet Shop. Todos os direitos reservados.</p>
    </footer>
</body>
</html>




